<div class="card">
  <img src="{{review.cover_url}}" class="card-img-top" />
  <div class="card-body">
    <h4 class="card-title">{{review.album_name}}</h4>
    <h5 class="card-title">by {{review.artist_name}}</h5>
    <p class="card-text">{{review.review}}</p>
    <h5 class="card-title">&#11088;{{review.review_rating}}
      out of 5&#11088;</h5>
    <h6 class="card-title"> Reviewed by: {{user.username}}</h6>
  </div>
</div>

{{#if note}}
<div class="card mt-4">
  <div class="card-header">
    Notes
  </div>
  <ul class="list-group list-group-flush">
    {{#each review.note as |note|}}
    <li class="list-group-item">
        <p class="fw-bold mb-0">"{{note.contents}}"</p>
        <p class="blockquote-footer fs-6 mt-1 mb-0"><span class="fw-bold">{{note.user.username}}</span> on {{format_date comment.date_created}} </p>
    </li>
    {{/each}}
    {{!-- <li class="list-group-item">
        <p class="fw-bold mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="blockquote-footer fs-6 mt-1 mb-0">Caesar</p>
    </li>
    <li class="list-group-item">
        <p class="fw-bold mb-0">"What he said!!! ^"</p>
        <p class="blockquote-footer fs-6 mt-1 mb-0">RandomGuy78</p>
    </li> --}}
  </ul>
</div>
{{/if}}

{{#if logged_in}}
<div class="card mt-4">
  <div class="card-body">
    <form class="create-note-form">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Write <span class="fw-bold">{{user.username}}</span> a note! (Hint: be respectful)</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Post Note</button>
    </form>
  </div>
</div>
{{/if}}