{{!-- Single Review card --}}
<div class="card m-3 bg-secondary" style="background-image: linear-gradient(to bottom right, rgb(50, 217, 230), rgb(122, 84, 189));">
  <div class="card-body">
    <img src="{{singleReview.cover_url}}" class="card-img-top rounded border border-dark border-2 m-1" style="width: 18rem;"/>
    <div class="card-body border border-dark border-2 m-1 rounded bg-light ">
      <h4 class="card-title">{{singleReview.album_name}}</h4>
      <h5 class="card-title">by {{singleReview.artist_name}}</h5>
      <p class="card-text">{{singleReview.review}}</p>
      <div class="rating-{{singleReview.review_rating}} rating-container">
        <span id="star1" class="fa fa-star"></span>
        <span id="star2" class="fa fa-star"></span>
        <span id="star3" class="fa fa-star"></span>
        <span id="star4" class="fa fa-star"></span>
        <span id="star5" class="fa fa-star"></span>
      </div>
      <h6 class="card-title"> Reviewed by: {{singleReview.user.username}}</h6>
      <button type="button" id="delete-review-button" class="btn btn-primary bg-danger fw-semibold">Delete</button>
    </div>
  </div>
</div>

{{!-- if notes exist for the review, render this section --}}
{{#if singleReview.notes}}
<div class="card m-3">
  <div class="card-header">
    Notes
  </div>
  <ul class="list-group list-group-flush">
    {{#each singleReview.notes as |note|}}
    <li class="list-group-item">
        <p class="fw-bold mb-0">"{{note.contents}}"</p>
        <p class="blockquote-footer fs-6 mt-1 mb-0"><span class="fw-bold">{{note.user.username}}</span> on {{format_date note.date_created}} </p>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}

{{!-- If logged in, display the comment form --}}
{{#if logged_in}}
<div class="card m-3">
  <div class="card-body">
    <form class="create-note-form">
      <div class="mb-3">
        <label for="note-form" class="form-label">Write <span class="fw-bold">{{singleReview.user.username}}</span> a note! (Hint: be respectful)</label>
        <textarea class="form-control" id="note-form" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Post Note</button>
    </form>
  </div>
</div> 
{{/if}}

{{!-- If logged in, use the given script (will throw errors otherwise) --}}
{{#if logged_in}}
<script src="/js/note.js"></script>
{{/if}}

<script src="/js/delete.js">
</script>